
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #3498db;
}

p {
    line-height: 1.6;
}

img {
    border-radius: 50%;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #3498db;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}
.logout-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #e74c3c; /* Red background */
    color: white; /* White text */
    text-decoration: none; /* No underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

